@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.App {
  text-align: center;
}

body {
  background-color: rgb(230, 248, 255);
  position: relative;
  padding-bottom: 40px;
  min-height: 100vh;
}

